* {
  margin: 0;
  padding: 0;
}

#main {
  width: 100vw;
  height: 100vh;
  display: none;
}

#side {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#question-wrapper {
  height: 100%;
  width: 65%;
}

/* mobile */
@media screen and (max-width: 800px) {

  #main {
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    flex-direction: column;
  }

  #side {
    height: 30%;
    width: 100%;
    display: flex;
  }

  #question-wrapper {
    height: 65%;
    width: 100%;
  }

  #timer-wrapper{
    width: 100%;
    height: 5%;
    background-color: #58c4DC;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #timer{
    width: 90%;
    height: 10%;
    background-color: white;

  }

}
